<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RayEd.RenderSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RayEd.Properties.FindSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RayEd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RayEd.RenderSettings>
            <setting name="Quality" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Dual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RotateCamera" serializeAs="String">
                <value>False</value>
            </setting>
        </RayEd.RenderSettings>
        <RayEd.Properties.FindSettings>
            <setting name="FindText" serializeAs="String">
                <value/>
            </setting>
            <setting name="MatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WholeWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftPosition" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TopPosition" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ReplaceText" serializeAs="String">
                <value/>
            </setting>
        </RayEd.Properties.FindSettings>
        <RayEd.Properties.Settings>
            <setting name="TabLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SmartIndentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VisualStyle" serializeAs="String">
                <value>0</value>
            </setting>
        </RayEd.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
